@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-container {
    @apply container pt-20;
  }

  /* Fix tailwindcss/forms styles overwriting daisyui */
  [type="radio"]:checked.btn {
    background-image: none;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

[data-theme="dark"] {
  /* --background-dot-color: #ffffff18; */
}
